#lb1{
	background-color: var(--pink);
}

#lb1:hover{
	background-color: var(--active);
}

#lb2{
	background-color: var(--yellow);
}

#lb2:hover{
	background-color: var(--active);
}

#sli1{
	background: url("../../img/headers_page/cooperation1.png");
	background-size: cover;
}

#sli2{
	background: url("../../img/headers_page/cooperation2.png");
	background-size: cover;
}